.propertyItem {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.226);
  border-radius: 3%;
}

h4 {
    font-size: 15px;
}

.img {
    overflow: hidden;
    width: 600px;
    height: 400px;
    margin: 0 auto;
    border-radius: 5%;
}

.img img {
    margin:0 auto;

}
